
<div>
  <div class="text-4xl mb-4">Products</div>
  <div class="block">
    <%= render "upload" %>
    <div class="mt-2">
      <p style="color: red"><%= alert %></p>
      <p style="color: green"><%= notice %></p>
    </div>
  </div>
  <div id="products" class="block">
  <div>
    <div class="text-2xl mt-8 mb-4">Products</div>
  <table class='border-b '>
    <tr>
      <th class='text-left py-4'>Name</th>
      <th class='text-left py-4'>Sales</th>
      <th class='text-left py-4'>Revenue</th>
      <th class='text-left py-4'>Price</th>
      <th class='text-left py-4'>Status</th>
    </tr>
    <% @products.each do |product| %>
    <tr class="bg-white">
      <td class='border-t border-l p-6 w-96'>
        <div class="font-bold"><%= product.name%></div>
        <div class="underline">sophia.06gumroad.com/l/<%= product.url_id%></div>
      </td>
      <td class='border-t w-24'>
        0
      </td>
      <td class='border-t w-32'>
        $0
      </td>
      <td class='border-t w-24'>
        <div><%= Money.from_cents(product.price_cents, product.currency).format%></div>
      </td>
      <td class='border-t border-r w-40'>
        Unpublished
      </td>
      <% end %>
      </td>
    </tr>
  </table>
  </div>
  </div>
</div>



